* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 { 
  width: 500px;
	 margin: auto; 
}

#d1, #d2 {
  border: 1px solid #000;
  margin: auto;
}

#d1 {
  width: 700px;
  height: 210px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#d2 {
  width: 400px;
  height: 120px;
}

p {
  border: 1px solid #000;
  margin: 0;
  text-align: center;
  margin: auto;
}