body {
    background-color: papayawhip;
    perspective: 500px;
}

#d1 {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    background-color: lightblue; 
    text-align: center; 
    line-height: 200px; 
    font-size: 24px;
    /*propriedades de transformação*/
    backface-visibility: visible;
    transform: translate(200px, 200px);
    transform-origin: 200px 200px;
}